
@{
    ViewBag.Title = "Index";
}

<h2>Hi Client!</h2>

<br />
<p>
    @Html.ActionLink("Liste des mes application", "Applications", "Client")
</p>

<br />
<p>
    @Html.ActionLink("LogOut", "LogOff", "Account")
</p>